// ================================================================================
// variables.scss
// ================================================================================

// Sizes
// --------------------------------------------------------------------------------
$size-base: 8px;

// Fonts
// --------------------------------------------------------------------------------
$font-size-base: 14px;

$font-family-base:
  'Noto Sans JP',
  'Hiragino Kaku Gothic ProN',
  'Yu Gothic',
  'sans-serif';

$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-icon: 600;

$font-height-base: 1.8;

// Transitions
// --------------------------------------------------------------------------------
$transition-duration-base: .1s;

// Colors
// --------------------------------------------------------------------------------
$color-primary: #ffb41d;

$color-black: #1c1c1c;
$color-gray-1: #3c3c3c;
$color-white: #fff;

$color-brand-discord: #7289da;
