// ================================================================================
// variables.scss
// ================================================================================

// Sizes
// --------------------------------------------------------------------------------
$size-base: 8px;
$size-width-max: 1248px;
$size-width-mid: 1072px;
$size-width-min: 848px;

// Fonts
// --------------------------------------------------------------------------------
$font-size-base: 14px;
$font-size-l1: 18px;
$font-size-l2: 24px;
$font-size-l3: 32px;
$font-size-l4: 38px;
$font-size-l5: 48px;
$font-size-s1: 13px;
$font-size-s2: 12px;
$font-size-s3: 11px;
$font-size-s4: 10px;

$font-family-base:
  'Noto Sans JP',
  'Hiragino Kaku Gothic ProN',
  'Yu Gothic',
  'sans-serif';
$font-family-en: 'Sofia Pro', sans-serif;
$font-family-code: 'Consolas', monospace;

$font-weight-normal: 400;
$font-weight-bold: 700;

$font-height-base: 1.8;

// Transitions
// --------------------------------------------------------------------------------
$transition-duration-base: .1s;

// Colors
// --------------------------------------------------------------------------------
$color-primary: #ffb41d;
$color-primary-light: lighten($color-primary, 10%);

$color-black: #1c1c1c;
$color-gray-1: #3c3c3c;
$color-gray-2: #535353;
$color-gray-3: #727272;
$color-gray-4: #bdbdbd;
$color-gray-5: #dadada;
$color-gray-6: #f0f0f0;
$color-gray-7: #f8f8f8;
$color-white: #fff;

$color-link: #0080ff;

$color-background-base: #fdfaf5;

$color-brand-discord: #7289da;
$color-bland-discord-light: lighten($color-brand-discord, 10%);
